/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f7e0e4;
  margin-bottom: 48px;
  /* padding: 20px 0; */
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
}
.nav__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #f43464;
  text-decoration: none;
  user-select: none;
  border: 1px #f43464 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover {
  color: #fff;
  background: #f43464;
}

.nav__logout {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #f43464;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover {
  opacity: 0.5;
}

.nav__name {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.9em;
  color: #f43464;
  text-decoration: none;
  user-select: none;
}
.nav__name:hover {
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper {
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field {
  margin: 10px 0;
}

.actions {
  margin-bottom: 40px;
}

.form__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #f43464;
  border: 1px #f43464 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting {
  margin-bottom: 20px;
}
.greeting__link {
  text-decoration: underline;
}

.user__page {
  display: flex;
}

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
  margin: 0 60px
}
.card {
  width: calc((100% - 50px) / 6);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 新規登録・ログインページ */
.indispensable {
  font-size: 10px;
  font-weight: 600;
  color: #f06789;
  border-radius: 3px;
  padding: 2px;
  background-color: #f7e0e4;
}

input[type="email"]:focus {
  outline: none;
  border: 2px solid #f06789;
  border-radius: 5px;
}

input[type="password"]:focus {
  outline: none;
  border: 2px solid #f06789;
  border-radius: 5px;
}

input[type="new-password"]:focus {
  outline: none;
  border: 2px solid #f06789;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #f06789;
  border-radius: 5px;
}

textarea:focus {
  outline: none;
  border: 2px solid #f06789;
  border-radius: 5px;
}

/* 投稿ページ */
.dispensable {
  font-size: 10px;
  font-weight: 600;
  color: rgb(77, 77, 77);
  border-radius: 3px;
  padding: 2px;
  background-color: #d3d2d3;
}

.error-message {
  color: red;
}

.back-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  margin-top: 10px;
  font-size: 0.8em;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.back-btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* 一覧ページ */
.favorite-thing-contents {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.favorite-thing-contents > .title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.favorite-thing-contents > .subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #f06789;
  font-weight: bold;
}

.favorite-thing-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interview {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
  background-color: lightblue;
}

.interview-font {
  font-size: 11px;
}

.question {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
  background-color: lightgoldenrodyellow;
}

/* 詳細ページ */
.favorite-thing__wrapper {
  min-height: calc(100vh - 161px);
}
.favorite-thing__hedding {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.favorite_thing__user {
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.favorite-thing__image {
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.favorite-thing__detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title {
  font-size: 20px;
  font-weight: bold;
}
.favorite-thing__manage {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.favorite_thing__btn {
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.favorite-thing__btn:hover {
  color: #fff;
  background: #999;
}

.favorite-thing__comments {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists {
  padding-left: 20px;
}

.comments_list {
  display: flex;
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user {
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* 削除ページ */
div.contents.row .success {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

div.contents.row .success h3 {
  margin: 10px auto;
}

div.contents.row .success .btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  margin: 10px auto;
  font-size: 0.8em;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

div.contents.row .success .btn :hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* ユーザーページ */
.user__wrapper {
  min-height: calc(100vh - 161px);
}
.table {
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1 {
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2 {
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.list {
  border-collapse: collapse;
  width: 50%;
}
.list__col1 {
  text-align: left;
  font-weight: bold;
  background: #f06789;
  border-collapse: collapse;
  border: 1px solid #f7e0e4;
  width: 5%;
}
.list__col2 {
  text-align: left;
  border: 1px solid #f7e0e4;
  border-collapse: collapse;
  width: 70%;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.user__manage {
  display: block;
  justify-content: left;
  margin-top: 20px;
}

/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .favorite-thing_image {
    width: 60%;
  }
}

/* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .favorite-thing_image {
    width: 100%;
  }
  .table {
    width: 100%;
  }
}
