<main>
  <div class="container">
    <div class='favorite-thing-contents'>
      <h2 class='title'><i class="bi bi-search-heart"></i> みんなの好きなこと</h2>
      <div class="subtitle" >
        ＊＊＊
      </div>
      <div class='favorite-thing-lists'>
          <%= render partial: 'favorite_thing', collection: @favorite_things %>
      </div>
    </div>

    <%= paginate @favorite_things %>
  </div>
</main>