<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">好きなもの投稿ページ</h2>
        <%= render partial: "form", locals: { favorite_thing: @favorite_thing } %>
    </div>
  </div>
</div>