<main>
  <div class='favorite-thing-contents'>
    <div class="subtitle" >
      検索結果
    </div>
    <div class="contents row">
      <% @favorite_things.each do |favorite_thing| %>
        <%= render partial: "favorite_thing", locals: { favorite_thing: favorite_thing } %>
      <% end %>
    </div>
  </div>

  <%= paginate @favorite_things %>

</main>