<main>
  <div class="container">
    <div class='favorite-thing-contents'>
      <div class="subtitle" >
        検索結果
      </div>
      <div class='favorite-thing-lists'>
        <% @favorite_things.each do |favorite_thing| %>
          <%= render partial: "favorite_thing", locals: { favorite_thing: favorite_thing } %>
        <% end %>
      </div>
    </div>

    <%= paginate @favorite_things %>
  </div>
</main>